# Auto detect text files and perform LF normalization
* text=auto
C:/Users/USER/Desktop/10.05/Assets/Download/product/product.fbx filter=lfs diff=lfs merge=lfs -text
Assets/Download/product/product.fbx filter=lfs diff=lfs merge=lfs -text
10.04/Assets/Download/product/product.fbx filter=lfs diff=lfs merge=lfs -text
Assets/Download/product/product.fbx filter=lfs diff=lfs merge=lfs -text
